body{
    height: 700px;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    background-size: auto;
}
.box{
    padding: 20px;
    background-color: white;
    border: 5px solid white;
    display: flex;
    margin: 180px auto;
    height: 400px;
    width: 300px;
    flex-direction: column;
    justify-content:stretch;
    border-radius: 2%;
    box-shadow: 20px 20px 65px;
}
.no1{
    margin: 14px 0px;
    width: 270px;
    height: 30px;
    border-bottom:2px solid rgb(177, 177, 177);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: medium;
}

.login{
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 2%;
    
    
}
#password{
    margin-top: 0;
    padding-right: 130px;
    font-size: 14px;
}
.pass{
    color: rgb(177, 177, 177);
}
.link{
    color: dimgray;
}
.gif{
    height: 70px;
    width: 70px;
    margin: 0 auto;
}
         
button {
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    margin: 10px auto;
    padding: 10px 135px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border: 0;

  }

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
 